@model dynamic

@{
    ViewBag.Title = "Momntz - Signup";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()){

    <ul>
        <li>
            @Html.Label("Username")
            @Html.TextBox("username")
        </li>
    
        <li>
            @Html.Label("Email")
            @Html.TextBox("email")
        </li>

        <li>
            @Html.Label("First Name")
            @Html.TextBox("firstname")
        </li>
    
        <li>
            @Html.Label("Last Name")
            @Html.TextBox("lastname")
        </li>
    
        <li>
            @Html.Label("Password")
            @Html.TextBox("password")
        </li>
        
        <li>
            @Html.Label("Confirm Password")
            @Html.TextBox("confirmpassword")
        </li>
    
        <li>
            <input type="submit" value="Register" />
        </li>

    </ul>
 }
