@model  List<Momntz.Data.Projections.IGroupItem>

@if(Model != null)
{
    foreach (var item in Model)
    {
        <div class="all box black-and-white photography col2">
            <div class="post-53 post type-post status-publish format-standard hentry category-black-and-white category-photography tag-bw tag-fashion box-content has-content">
                <div class="img-container">
                <a href="/@item.Username/albums/@item.Name" title="Visit @item.Name" >
                        <img src="@item.Url" class="feat-img wp-post-image phototag" alt="@item.Name" title="@item.Name" /></a>
                </div>
                <!-- #entry -->
                <div class="post-footer"><p class="groupname" >@item.Name</p></div>
            </div>
            <!-- #box-content -->
        </div>
        <!-- #box -->
    }
}

