@model IList<Momntz.Data.Projections.Momentos.Tile>

@foreach (var item in Model)
{
    <div class="box photo col3">
        <a href="@item.ImageUrl" id="@item.Id" rel="lightbox"  title="@item.Title"><img class="phototag" src="@item.ImageUrl" data-momentoid="@item.Id" alt="@item.Title" title="@item.Title" /></a>
        <div class="details" >
            @if (!string.IsNullOrEmpty(@item.Title))
            {
                <label class="title">@item.Title</label>
            }
            
            @if (!string.IsNullOrEmpty(@item.Title))
            {
                <div class="description">@item.Story</div>
            }
            <hr style="border:none;border-top:1px solid #eee;margin:0;" />
                @*<img style="float: left;margin:5px;" src="~/Content/comments.png" />*@ <a href="/@item.Username/media/@item.Id"><img style="float: right;margin:5px;" src="~/Content/link.png" /></a>
        </div>
	</div>
}