@using SquishIt.Framework
@using SquishIt.Mvc
<!DOCTYPE HTML>
<html>
	<head>
		<title>Momntz</title>
        
        @(Bundle.Css()
        .Add("/content/css/reset1.css")
        .Add("/content/css/site1.css")
        .Add("/Scripts/plugins/fancybox/jquery.fancybox-1.3.4.css")
        .Add("/Content/css/flick/jquery-ui.css")
        .Add("/Scripts/plugins/tagit/css/jquery.tagit.css")
        .Add("/Scripts/plugins/phototag/jquery-ui-1.8.17.custom.css")
        .MvcRender("/content/combined_#.css")
        )
        
        @(Bundle.JavaScript()
        .Add("/scripts/jquery.js")
        .Add("/Scripts/plugins/masonry/jquery.imagesloaded.min.js")
        .Add("/Scripts/plugins/masonry/jquery.masonry.min.js")
        .Add("/Scripts/plugins/fancybox/fancybox.js")
        .Add("/Scripts/plugins/phototag/jquery.phototag.js")
        .Add("/Scripts/libraries/jquery-ui-1.10.2/ui/jquery-ui.js")
        .Add("/Scripts/plugins/tagit/tag-it.js")
        .Add("~/Scripts/plugins/fancybox/afterLoad.js")
        .Add("~/Scripts/plugins/handlebars/handlebars.1.0.0.js")
        .MvcRender("/scripts/combined_#.js")
        )
	    @RenderSection("Head", required: false)
	</head>
    <body>
        
        @if (IsSectionDefined("Header"))
        {
            @RenderSection("Header", false)
        }
        else
        {
            <div style="" id="header">
                <div class="col" >
                   <form>
                        <input name="search" type="text" style="width: 200px;"  /> <input type="submit" value="Search"  style="color:#aaa;background-color:#f9f9f9;"  />
                    </form>
                </div>
                <div class="col col2" >
                    <ul class="navigation" > @RenderSection("Navigation", false) </ul>
                </div>
            </div>
        }
        
        
        @RenderSection("ContentTitle", false)
        <div id="container" style="margin-top: 60px;" class="clearfix">
            @RenderBody()
        </div>
        
        @RenderSection("PageBottom", false)

        <script type="text/javascript">
            var $container = $('#container');
            
            $(window).scroll(function () {
                if ($(window).scrollTop() == $(document).height() - $(window).height()) {

                    //$('<div id="loading"><img src="/Content/images/spinner.gif" title="Spinner " /></div>').appendTo($container);

                    getItems(function(data) {

                        if (data != null && data.length > 0) {
                            var source = getTemplate();
                            var template = Handlebars.compile(source);

                            var html = '';

                            for (var index = 0; index < data.length; index++) {

                                html = html + template(data[index]);
                            }

                            html = $($.trim(html));

                            html.imagesLoaded(function() {
                               // $('div#loading').remove();
                                $container.append(html);
                                $container.masonry('appended', html, true);
                            });
                        }
                    });
                }
            });

            $(function() {
                
                $container.imagesLoaded(function () {
                    $container.masonry({
                        itemSelector: '.box'
                    });
                });

                // Lightbox Init
                var fancyboxArgs = {
                    padding: 0,
                    overlayColor: "#000",
                    autoScale: false,
                    overlayOpacity: 0.85,
                    loadDetails: function (container, image) {

                        var view = new afterLoad();
                        view.load(this, container, image);
                    }
                };
                $("a[rel='gallery'], a[rel='lightbox'], .gallery-icon a, .colorbox").fancybox(fancyboxArgs);
            });

        </script>
        <script id="entry-template" type="text/x-handlebars-template">
            <div class="box photo col3">
                <a href="{{ImageUrl}}" id="{{Id}}" rel="lightbox"  title="{{Title}}"><img class="phototag" src="{{ImageUrl}}" data-momentoid="{{Id}}" alt="{{Title}}" title="{{Title}}" /></a>
                <div class="details" >
                    {{#if Title}}
                        <label class="title">{{Title}}</label>
                    {{/if}}
                    
                    {{#if Story}}
                        <div class="description">{{Story}}</div>
                    {{/if}}
                        
                    <hr style="border:none;border-top:1px solid #eee;margin:0;" />
                        <img style="float: left;margin:5px;" src="/Content/comments.png" /> <a href="/{{Username}}/media/{{Id}}"><img style="float: right;margin:5px;" src="/Content/link.png" /></a>
                </div>
            </div>        
        </script>
        
        <script id="album-template" type="text/x-handlebars-template">
            <div class="box photo col3">

                    <a href="/{{Username}}/albums/{{Name}}" title="{{Name}}">
                        <img class="phototag" src="{{Url}}" alt="{{Name}}"  />
                    </a>

                <div class="details" >
                    <label class="title">{{Name}}</label>
                </div>
            </div>    
        </script>

    </body>
</html>
